/********** DESKTOP STYLES *********/
@media only screen and (min-width: 801px) {
  /********** MAIN LAYOUT *********/
  body {
    margin: 0 auto;
    max-width: 960px;
  }

  /********** MODULES *********/
  span {
    font-size: 50px;
    color: #444;
    outline: none;
  }

  div {
    outline: 1px solid #000;
    background: #AAA;
    float: left;
    text-align: center;
    vertical-align: middle;
  }


  /********** IDs *********/
  #a-box {
    height: 100px;
    width: 100%;
    line-height: 100px;
  }
  #b-box {
    height: 600px;
    width: 20.833333333%;
    line-height: 600px;
  }
  #c-box {
    width: 39.583333333%;
    height: 200px;
    line-height: 200px;
  }
  #d-box {
    width: 39.583333333%;
    height: 200px;
    line-height: 200px;
  }
  #e-box {
    height: 250px;
    width: 19.791666667%;
    line-height: 250px;
  }
  #f-box {
    height: 250px;
    width: 19.791666667%;
    line-height: 250px;
  }
  #g-box {
    height: 250px;
    width: 19.791666667%;
    line-height: 250px;
  }
  #h-box {
    height: 250px;
    width: 19.791666667%;
    line-height: 250px;
  }
  #i-box {
    height: 150px;
    width: 79.166666667%;
    line-height: 150px;
  }
}
