/* MOBILE APP STYLES */

@media only screen and (max-width: 800px) {
  /********** MAIN LAYOUT *********/
  * {
    outline: 1px solid #000;
  }

  body {
    max-width: 100%;
    background: radial-gradient(#9400D3, #FF0000);
  }

  /********** MODULES *********/
  span {
    text-transform: uppercase;
    font-size: 50px;
    color: #444;
    outline: none;
  }

  div {
    text-align: center;
    vertical-align: middle;
  }


  /********** IDs *********/
  #a-box {
    background: radial-gradient(#FFF, #FF0000);
    height: 75px;
    line-height: 75px;
  }
  #b-box {
    background: radial-gradient(#FFF, #FF7F00);
    height: 150px;
    line-height: 150px;
  }
  #c-box {
    background: radial-gradient(#FFF, #FFFF00);
    height: 125px;
    line-height: 125px;
  }
  #d-box {
    background: radial-gradient(#FFF, #00FF00);
    height: 125px;
    line-height: 125px;
  }
  #e-box {
    background: radial-gradient(#FFF, #0000FF);
    float:left;
    margin-left: 0px;
    height: 250px;
    line-height: 250px;
    width: 50%;
    display: inline-block;
  }
  #f-box {
    background: radial-gradient(#FFF, #0000FF);
    float:left;
    height: 250px;
    line-height: 250px;
    width: 50%;
    display: inline-block;
  }
  #g-box {
    background: radial-gradient(#FFF, #0000FF);
    float:left;
    height: 250px;
    line-height: 250px;
    width: 50%;
    display: inline-block;
  }
  #h-box {
    background: radial-gradient(#FFF, #4B0082);
    float:left;
    height: 250px;
    line-height: 250px;
    width: 50%;
    display: inline-block;
  }
  #i-box {
    background: radial-gradient(#FFF, #9400D3);
    height: 80px;
    line-height: 80px;
    clear: both;
  }
}
